/* https://angel-rs.github.io/css-color-filter-generator/ to get svgs into any different color */

html {
    --background-color: magenta;
    --border-color: #bb00bb;
    --main-color: white;
    --text-color: black;
    --card-border-color: lightgray;

    --logo-filter: brightness(0) saturate(100%) invert(16%) 
                    sepia(91%) saturate(3836%) hue-rotate(299deg) 
                    brightness(127%) contrast(125%);

    --image-brightness: brightness(1);
    
    background: var(--background-color);
}

html.dark {
    --background-color: #e300e3;
    --border-color: #FFF8FF;
    --main-color: #252525;
    --text-color: white;
    --card-border-color: rgb(53, 53, 53);

    --logo-filter: brightness(0) saturate(100%) invert(16%) 
                sepia(91%) saturate(3836%) hue-rotate(299deg) 
                brightness(127%) contrast(125%);
    
    --image-brightness: brightness(0.8);

    background: var(--background-color);

}

html.darker {
    --background-color: #2a2a2a;
    --border-color: black;
    --main-color: #1d1d1d;
    --text-color: white;
    --card-border-color: black;

    --logo-filter: brightness(0) saturate(100%) invert(94%) 
                    sepia(0%) saturate(7489%) hue-rotate(235deg)
                    brightness(113%) contrast(98%);

    --image-brightness: brightness(0.5);

    background: var(--background-color);
}

html.midnight {
    --background-color: #0e0e0e;
    --border-color: #131313;
    --main-color: black;
    --text-color: gray;
    --card-border-color: var(--border-color);

    --logo-filter: brightness(0) saturate(100%) invert(2%) 
                    sepia(26%) saturate(0%) hue-rotate(152deg) 
                    brightness(90%) contrast(84%);

    --image-brightness: brightness(0.25);

    background: var(--background-color);
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--text-color);
}