/* h1, h2, h3, p {
    text-align: center;
    margin: 0% 5% 0% 5%;
} */

ol {
    margin-left: 10%;
    color: var(--text-color);
    line-height: 10svh;
}

a {
    color: #90D5FF;
    cursor: pointer;
}